<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div}, ~{::script})">

<div class="container flex-fill">
    <span class="float-right">
        <a class="btn btn-danger btn-sm mr-2" role="button">Button</a>
        <a class="btn btn-secondary btn-sm" role="button">Button</a>
    </span>
    <h4 th:text="#{test.heading}">Heading</h4>
    <hr>
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr th:each="entry : ${testInfo}">
                        <th th:text="#{|test.${entry.key}|}">Cell 1</th>
                        <td th:text="${entry.value}">Cell 2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-sm" role="button"
                   th:href="@{/tests/{testId}/begin(testId=${testInfo.id})}"
                   th:text="#{test.begin}">
                    Button
                </a>
            </div>
        </div>
    </div>
</div>

</html>