<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div}, ~{::script})">

<div class="container flex-fill">
    <h4><span th:text="#{test.inprogress.heading}">Heading</span><span class="text-warning float-right">Text</span></h4>
    <hr>
    <form th:action="@{/tests/{testId}/end(testId=${test.id})}" method="POST">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <th:block th:each="question : ${test.questions}">
                    <h5 th:text="|#{test.inprogress.question} ${questionStat.count}|">Heading</h5>
                    <p th:text="${question.text}">Paragraph</p>
                    <th:block th:unless="${question.multiple}">
                        <div class="custom-control custom-radio" th:each="option : ${question.options}">
                            <input class="custom-control-input" type="radio" th:id="${#ids.seq('option')}" th:name="${question.id}" th:value="${option.id}">
                            <label class="custom-control-label" th:for="${#ids.prev('option')}" th:text="${option.text}">Label</label>
                        </div>
                    </th:block>
                    <th:block th:if="${question.multiple}">
                        <div class="custom-control custom-checkbox" th:each="option : ${question.options}">
                            <input class="custom-control-input" type="checkbox" th:id="${#ids.seq('option')}" th:name="${question.id}" th:value="${option.id}">
                            <label class="custom-control-label" th:for="${#ids.prev('option')}" th:text="${option.text}">Label</label>
                        </div>
                    </th:block>
                    <hr>
                </th:block>
                <div class="text-center">
                    <button class="btn btn-primary btn-sm" type="submit" th:text="#{test.inprogress.complete}">Button</button>
                </div>
            </div>
        </div>
    </form>
</div>

</html>